<div #timeLineContainer class="timeLineContainer">
    <div #innerDiv style="height: 0px"></div>
    <ng-container *ngFor="let series of Series;">
        <ng-container *ngIf="series.type === 'time-span'">
            <app-time-line-span [series]="series" ></app-time-line-span>
        </ng-container>
        <ng-container *ngIf="series.type === 'time-point'">
            <app-time-line-point [series]="series" ></app-time-line-point>
        </ng-container>
        <ng-container *ngIf="series.type === 'time-scale'">
            <app-time-line-scale [nScales]="5"></app-time-line-scale>
        </ng-container>
    </ng-container>    
</div>
