.timelineScaleContainer {
    border: 1px coral solid;
    border-top: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: hidden;
    align-items: stretch;
}


