.timelineMainContainer {
    border: 1px coral solid;
    border-bottom: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    align-items: stretch;
    padding-top: 0.5rem;
    height: 4rem;
}

.timeLineItem {
    border-left: 1px solid dimgray; 
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

._EmptyState_ {
    border-left: none;
}

.Active {
    background-color: darkgreen;
    color: white;
}

.Service {
    background-color: purple;
    color: white;
}

.Error {
    background-color: red;
    color: white;
}

.None {
    background-color: lemonchiffon;
}

.Ready {
    background-color: lightgreen;
}

.Maintenance {
    background-color: chocolate;
    color: white;
}
