.timelinePointContainer {
    border: none;
    margin: none;
    padding: none;
    display: block;
    width: 100%;
    height: 48px;    
    padding-top: 0.2rem;
}

.tooltip {
    background-color: lemonchiffon;
    color: black;
    text-align: center;
    padding: 2px 5px;
    border: solid 1px brown;
    border-radius: 2px;
    pointer-events: none;
    font: Roboto 100 12px;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
  }